.send_container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin: 20px;
}

.chat_container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.jokes_container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 20px 0;
  width: 100%;
}
