.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.columns {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  height: 100%;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.columnCenter {
  align-items: center;
}

.columnEnd {
  justify-content: end;
}

.imageContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: end;
}

@media only screen and (min-width: 768px) {
  .columns {
    flex-direction: row;
  }
}
