.title {
  margin: 0;
}

.menu {
  background-color: var(--primary-bg-color);
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.menu_link {
  text-decoration: none;
}

.main {
  background-color: var(--secondary-bg-color);
  padding: 20px;
}

.link {
  text-decoration: none;
  padding: 10px;
}

.link,
.link:link,
.link:visited {
  color: #ccc;
}

.link:hover,
.link:active {
  color: white;
}
