@import 'normalize.css';

:root {
  --primary-bg-color: #212121;
  --secondary-bg-color: #1a1a1a;
}

html {
  background-color: var(--secondary-bg-color);
  color: white;
  font-family: sans-serif;
}
