@import 'normalize.css';

:root {
  --primary-color: #bde8fd;
  --secondary-color: #2d212c;
}

html {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: sans-serif;
}
