@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=Playfair+Display:wght@500&display=swap');

:root {
  --primary-color: #ff2d82;
  --bg-color: #242529;
  --dark-color: #111;
  --light-color: #f7f7f7;
  --small-screen: 600px;
  --medium-screen: 768px;
  --large-screen: 992px;
  --extra-large-screen: 1200px;
}

html {
  background-color: var(--bg-color);
  color: var(--light-color);
  font-family: 'IBM Plex Sans', sans-serif;
}
